[submodule "boringssl"]
	path = boringssl
	url = /var/tmp/download/boringssl

[submodule "pyca.cryptography"]
	path = pyca-cryptography
	url = /var/tmp/download/cryptography

[submodule "wycheproof"]
	path = wycheproof
	url = /var/tmp/download/wycheproof

[submodule "krb5"]
	path = krb5
	url = /var/tmp/download/krb5
